<p>
  ems works!
</p>
<button mat-button>Button</button>
<div class="ems-inputs-container">
  <mat-form-field>
    <input matInput placeholder="Patient Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Address">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Time">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="What happened?"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="stable">Stable</mat-option>
      <mat-option value="moderate">Moderate</mat-option>
      <mat-option value="critical">Critical</mat-option>
    </mat-select>
  </mat-form-field>
</div>
