<mat-tab-group>
    <mat-tab label="EMS Report">
        <mat-card>
            <mat-card-title>EMS Questions</mat-card-title>
            <mat-card-content>
                <form [formGroup]="emsForm">
                    <mat-form-field>
                            <input matInput placeholder="Patient First Name" formControlName="firstname">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Patient Last Name" formControlName="lastname">
                        </mat-form-field>
                        <br>
                    <mat-form-field>
                        <input matInput placeholder="Tech Name 1" formControlName="tech1Name">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Tech Name 2" formControlName="tech2Name">
                    </mat-form-field>
                    <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Chief Complaint" formControlName="chiefComplaint">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Medications" formControlName="medications">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Past History" formControlName="pastHistory">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Known Allergies" formControlName="allergies">
                    </mat-form-field>
                </form>
                <button mat-button (click)="submit()">Submit Patient Info</button>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Witness Report">
        <mat-card>
            <mat-card-title>Witness Data</mat-card-title>
            <mat-card-content>
                    <table class="mat-table">
                            <thead>
                              <tr class="mat-header-row">
                                <th class="mat-header-cell"> Patient Attribute </th>
                                <th class="mat-header-cell"> Current Status </th>
                              </tr>
                              </thead>
                            <tbody>
                              <tr class="mat-row">
                                <td class="mat-cell"> First Name </td>
                                <td class="mat-cell"> {{dataSource.firstname}} </td>
                              </tr>
                              <tr class="mat-row">
                                  <td class="mat-cell"> Last Name </td>
                                  <td class="mat-cell"> {{dataSource.lastname}} </td> 
                              </tr>
                              <tr class="mat-row">
                                    <td class="mat-cell"> Age </td>
                                    <td class="mat-cell"> {{dataSource.age}} </td> 
                                </tr>
                                <tr class="mat-row">
                                        <td class="mat-cell"> Sex </td>
                                        <td class="mat-cell"> {{dataSource.sex}} </td> 
                                </tr>
                                <tr class="mat-row">
                                        <td class="mat-cell">Location</td>
                                        <td class="mat-cell">{{dataSource.location}}</td> 
                                </tr>
                                <tr class="mat-row">
                                        <td class="mat-cell">Time</td>
                                        <td class="mat-cell">{{dataSource.time}}</td> 
                                </tr>
                                <tr class="mat-row">
                                        <td class="mat-cell">Type of Emergency</td>
                                        <td class="mat-cell">{{dataSource.typeOfEmergency}}</td> 
                                </tr>
                            </tbody>
                        </table>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
